#navbarSupportedContent a {
    margin-left: 10px;
}

.navbar-dark {
    /* background-color: #1e90ff; */
    background-color: #587d87eb !important;
}

.navbar-brand a h1 {
    color: #fff;
}

.navbar-brand h1,
.navbar-brand p {
    margin: 0px 0px 0px 130px;
}

.navbar-brand p {
    font-size: 0.8em;
}

#navbarSupportedContent li {
    padding-top: 5px;
}

.navbar-brand a.link-text:hover {
    text-decoration: none;
}

/* #navbarSupportedContent a {
    transition: border-bottom;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
}

#navbarSupportedContent a:hover {
    border-bottom: 5px solid #2f56b0;
} */

#navbarSupportedContent a {
    color: #666;
    display: inline-block;
    margin: 0;
    text-transform: uppercase;
}

#navbarSupportedContent a:after {
    display: block;
    content: '';
    border-bottom: solid 4px white;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

#navbarSupportedContent a:after {
    transform-origin: 0% 50%;
}

#navbarSupportedContent a:hover:after {
    transform: scaleX(1);
}

#vl-navbar {
    height: 80px;
}

#vl-navbar .nav-link {
    color: #fff;
    padding: 0px 35px;
    font-size: 1.1em;
}

.dropdown-item {
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #1d283c;
}

.dropdown,
.login {
    position: absolute;
    right: 60px;
}