h3 {
    margin-top: 20px;
    font-size: 200%;
    text-align: center;
    color: #0a090a;
}

form h2 {
    text-align: center;
    color: #f6f9fa;
}

form {
    height: 1200px;
    width: 1200px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px #ffffff;
    padding: 50px 35px;
    margin-top: 390px;
}

form * {
    margin-top: 0px;
    font-family: 'Poppins', sans-serif;
    color: #050101;
    letter-spacing: 0.5px;
    outline: none;
    border: none;

}


form h3 {
    color: #ffffff;
    margin-top: -450px;
    float: right;
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    margin-right: 70px;
}

label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(20, 18, 18, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    box-shadow: 0 0 40px #ffffff;
}





::placeholder {
    color: #f6f9fa;
}


button {
    margin-top: 50px;
    width: 100%;
    background-color: #6090eb;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 40px #ffffff;
}

.main {
    margin-top: 5px;
    width: 200px;
}

.option {
    float: right;
}

.option_1 {

    height: 170px;
    width: 400px;
    float: right;
    background-color: rgba(255, 255, 255, 0.13);
    transform: translate(0%, -215%);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    padding: 50px 35px;
    margin-top: 100px;
}

.spec {
    font-size: 24px;
    height: 400px;
    width: 900px;
    float: right;
    background-color: rgba(255, 255, 255, 0.13);
    transform: translate(-10%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    padding: 50px 35px;
    margin-top: -10px;
}

.table1 {
    transform: translate(135%, -102%);
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    /* box-shadow: 0 0 40px #ffffff; */
    padding: 50px 10px;
    text-align: center;
}

footer {
    position: absolute !important;
    top: 1900px !important;
    left: 500px !important;
}