<!-- <div class="about">
    <div class="inner-section">
        <h1>About Us</h1>
        <p class="text">
            Our tailor made Vehicle Loans come with exclusive features such as up to 100% financing, flexible repayment
            tenure and affordable EMI.
            Customised Car Loans are available on all the brands like Mahindra, Hyundai, TATA Motors, Maruti Suzuki,
            Renault, and Nissan amongst
            others. Our well- trained officials will help you take informed decisions and assist you with the
            documentation process.
            The loan process is easier and minimal documents are required.
        </p>
    </div>
</div> -->

<div style="margin-bottom: 500px;">
    <div class="about-image">
        <img src="./assets/Images/blue.jpg" alt="blue">
        <div class="about-title">
            <h1>About Us</h1>
        </div>
        <div class="about-content">
            <h2>WHO WE ARE</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate earum dolorem ullam dolorum dolores
                iste, voluptatibus ipsum incidunt! Officiis eos distinctio quasi! Vero laborum eum a laudantium, amet
                quis repellat.Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate earum dolorem ullam
                dolorum dolores
                iste, voluptatibus ipsum incidunt! Officiis eos distinctio quasi! Vero laborum eum a laudantium, amet
                quis repellat.</p>
            <div class="about-last-content">
                <h2>WE ARE DIFFERENT THAN THE REST</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate earum dolorem ullam dolorum
                    dolores
                    iste, voluptatibus ipsum incidunt! Officiis eos distinctio quasi! Vero laborum eum a laudantium,
                    amet
                    quis repellat.Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate earum dolorem ullam
                    dolorum dolores
                    iste, voluptatibus ipsum incidunt! Officiis eos distinctio quasi! Vero laborum eum a laudantium,
                    amet
                    quis repellat.</p>
            </div>
        </div>
    </div>
</div>