<div class="about">
    <div class="inner-section">
        <h1>About Us</h1>
        <p class="text">
            Our tailor made Vehicle Loans come with exclusive features such as up to 100% financing, flexible repayment
            tenure and affordable EMI.
            Customised Car Loans are available on all the brands like Mahindra, Hyundai, TATA Motors, Maruti Suzuki,
            Renault, and Nissan amongst
            others. Our well- trained officials will help you take informed decisions and assist you with the
            documentation process.
            The loan process is easier and minimal documents are required.
        </p>
    </div>
</div>