<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Enquiry ID</th>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <th scope="col">Comments</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let e of enquiryapplicants">
            <th scope="row">{{e.enquiryId}}</th>
            <th scope="row">{{e.name}}</th>
            <th scope="row">{{e.phone}}</th>
            <th scope="row">{{e.email}}</th>
            <th scope="row">{{e.comments}}</th>
    </tbody>
</table>
