<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Reset Password</h5>
        <div class="card-text">
            <form #userReset="ngForm" (submit)="updateUser()">
                <div class="form-group">
                    <label for="exampleInputEmail1">Enter Password</label>
                    <input type="password" name="userId" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp" placeholder="Enter Password" [(ngModel)]="password">
                    <br>
                    <label for="exampleInputEmail1">Enter Password</label>
                    <input type="password" name="userId" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp" placeholder="Enter Password" [(ngModel)]="confirmPassword">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>