<div class="user-dashboard">
    <div class="left-sidebar">
        <ul>
            <li>
                <!-- <img class="images" src="dashboard.png" alt="dash"> -->
                <a href=""><i class="fa fa-th" aria-hidden="true"></i> Dashboard</a>
            </li>
            <li>
                <!-- <img class="images" src="dashboard.png" alt="dash"> -->
                <a routerLink="/adminDashboard/"><i class="fa fa-car" aria-hidden="true"></i> Add Vehicle & Loan</a>
            </li>
            <li>
                <!-- <img class="images" src="customer.png" alt="dash"> -->
                <a routerLink="/adminDashboard/approvedLoan"><i class="fa fa-male" aria-hidden="true"></i>Clients</a>
            </li>
            <li>
                <!-- <img class="images" src="resume.png" alt="dash"> -->
                <a routerLink="/adminDashboard/adminApplicants"><i class="fa fa-user"
                        aria-hidden="true"></i>Applicants</a>
            </li>
            <li>
                <!-- <img class="images" src="file.png"tt alt="dash"> -->
                <a routerLink="/adminDashboard/rejectedApplications"><i class="fa fa-times"
                        aria-hidden="true"></i>Rejected Applicants</a>
            </li>
        </ul>
    </div>
    <div class="right-sidebar">
        <router-outlet></router-outlet>
    </div>
</div>