<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">FirstName</th>
            <th scope="col">CarMake</th>
            <th scope="col">CarModel</th>
            <th scope="col">Loan Approved</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Mahindra</td>
            <td>Mahindra Thar</td>
            <td><span class="badge badge-success">Approved</span></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>TATA</td>
            <td>TATA Nexon</td>
            <td><span class="badge badge-success">Approved</span></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>Mahindra</td>
            <td>Mahindra Thar</td>
            <td><span class="badge badge-success">Approved</span></td>
        </tr>
    </tbody>
</table>